body {
    margin: 0px;
    padding: 0px;
    color: #ffffd7;
    background-color: #101010;
    font-weight: 200;
    font-family: Verdana, sans-serif;
}

p {
    margin: 0px;
    padding: 0px;
}

a, a:visited {
    color: #fc4;
}

div.reliquary-logo {
    display: none;
}

.notice {
    text-decoration: underline;
    color: rgba(251, 174, 210, 0.5);
    font-weight: bold;
}

.cmd {
    text-decoration: underline;
    color: rgba(255, 0, 255, 1.0);
    color: gray;
}

div.top {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

div.top > div.intro {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.wrapper {
    text-align: left;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-left: 60px;
}

li {
    margin-bottom: 5px;
}

img {
    vertical-align: middle;
}

img.reliquary {
    width: 64px;
    margin-right: 15px;
}

div.reliquary-logo > a > img {
    width: 64px;
    margin-right: 15px;
}

div.block {
    width: 798px;
    border-radius: 5px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.85);
    background-color: rgba(64, 0, 128, 0.05);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.85);
}

span.cross {
    font-size: 24px;
    color: #c49e1e;
    font-weight: bold; 
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
}

span.title {
    width: 100%;
    padding-top: 12px;
    height: 36px;
    color: #c49e1e;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-radius: 0px 0px 0px 0px;
    border-bottom: 1px solid black;
    background-color: rgba(128, 0, 0, 0.15);
    box-shadow: 0px 3px black;
}

p.spacer {
    margin-top: 45px;
}

span.reliquary {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

p.content {
    margin: 25px;
}

pre {
    padding: 15px;
    color: #ffffd7;
    max-width: 600px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #252525;
    background-color: rgba(232, 173, 170, 0.05);
    font-family: monospace;
}

@media (max-width: 480px) {

pre {
    white-space: break-spaces;
    max-width: 80%;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-left: 20px;
}

div.reliquary-logo {
    display: block;
    margin-bottom: 25px;
    text-align: center;
}

div.top {
    display: none;
}

div.top > div.intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.wrapper {
    width: 90%;
}

div.block {
    width: 100%;
}

span.reliquary {
    width: 300px;
}

span.cross {
    font-size: 14px;
}

span.title {
    width: 100%;
    font-size: 14px;
}

p.content {
    margin: 25px;
}

}
